body {
    background-color: burlywood;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color:chocolate
  }
  main > div {
    background-color: #c86e6e;
    
    margin: 10px;
    text-align: center;
    
  }
  