<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="favorite">favorite</a></li>
            <li><a href="/randomJoke">randomJoke</a></li>
        </ul>
    </header>
</body>
</html>